@import '~bootstrap/scss/bootstrap';


// Select the section with the id after sign-in
#after-sign-in {
  // Make it not display on the page to start off with
  display: none;
}
#new-game{
  display: none;
}
.text-center{
  text-align: center;
}

#game-board{
  display: none;
}
.board-game {
  display: grid;
  grid-template-columns: 120px 120px 120px ;
  grid-template-rows: 120px 120px 120px 20px;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
}

.box {
  background-color: whitesmoke;
  border: 0px solid black  ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
